*.pyc
.Rproj.user
.DS_Store
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.dll
*.exe

# MkDocs build output
site/

tm2py_utils/inputs/maz_taz/maz_taz_map.html

# Validation system outputs
tm2py_utils/summary/validation/*.log
