####################################
#     SCENARIO CONFIGURATION       #
####################################

[scenario]
    name = "tm22-dev-sprint-04"
    year = 2015
    verify = false
    landuse_file = "inputs/landuse/maz_data_withDensity.csv"
    landuse_index_column = "TAZ"

[run]
    start_component = ""
    initial_components = [
        "create_tod_scenarios", 
        "active_modes",
        "air_passenger",
        "prepare_network_highway",
        "highway",
        "highway_maz_skim",
        "prepare_network_transit",
        "transit_assign", 
        "transit_skim",
    ]
    global_iteration_components = [
        "household",
        "internal_external",
        "truck",
        "highway_maz_assign",
        "highway",
        "transit_assign",
        "transit_skim",
    ]
    final_components = [
        "post_processor",
        "network_summary"
    ]
    start_iteration = 0
    end_iteration = 3

[warmstart]
    warmstart = true
    use_warmstart_skim = false
    use_warmstart_demand = true

[slack_notifications]
enabled = true