####################################
#     SCENARIO CONFIGURATION       #
####################################

[scenario]
    name = "tm22-dev-sprint-04"
    year = 2015
    verify = false
    zone_seq_file = "inputs/landuse/mtc_final_network_zone_seq.csv"
    landuse_file = "inputs/landuse/maz_data_withDensity.csv"
    landuse_index_column = "TAZ"

[run]
    start_component = ""
    initial_components = [
        "create_tod_scenarios", 
        "active_modes",
        "air_passenger",
        "prepare_network_highway",
        "highway",
        "highway_maz_skim",
        "prepare_network_transit",
        "transit_assign", 
        "transit_skim",
    ]
    global_iteration_components = [
        "household",
        "internal_external",
        "truck",
        "highway_maz_assign",
        "highway",
        #"drive_access_skims",
        "transit_assign",
        "transit_skim",
    ]
    final_components = ["post_processor","network_summary"]
    start_iteration = 0
    end_iteration = 3

[warmstart]
    warmstart = true
    use_warmstart_skim = true
    use_warmstart_demand = false

[slack_notifications]
enabled = true

[post_processor]
    # Network export options (set to true to enable)
    export_transit_network_shapefile = true
    export_highway_network_shapefile = true
    export_boardings_by_segment = true
    export_boardings_by_segment_geofile = true